---

---

<footer class="pt-8 pb-8 sm:pt-12 sm:pb-12 text-center">
    <p class="text-sm text-white/40">
        &copy; {new Date().getFullYear()} Nordicpup. Alla r&auml;ttigheter f&ouml;rbeh&aring;llna.
    </p>
</footer>
