---

---

<nav class="flex items-center justify-center pt-6 pb-4 sm:pt-12 sm:pb-8">
    <a href="/" class="flex items-center justify-center hover:opacity-80 transition">
        <img src="/images/logo.png" alt="Nordicpup" class="h-16 w-auto" />
    </a>
</nav>
